# Flutter/Dart
.dart_tool/
.packages
pubspec.lock
build/
*.log

# IDE
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Firebase sensitive files
example/lib/firebase_options.dart
example/android/app/google-services.json
example/ios/Runner/GoogleService-Info.plist
example/firebase.json
example/firepit-log.txt

# Example build files
example/build/
example/.dart_tool/
example/android/.gradle/
example/ios/.symlinks/